<h1>Display your Pirate here</h1>
<h1>Your pirate is named: <%= @pirate.name %></h1>
<h3>Their weight is: <%= @pirate.weight %></h3>
<h3>Their height is: <%= @pirate.height %></h3>

<h2>His ship is: <%= @ship1.name %></h2>
<h2>Ship type is: <%= @ship1.type %></h2>
<h2>Ship booty is: <%= @ship1.booty %> </h2>

<h2>His other ship is: <%= @ship2.name %></h2>
<h2>Other Ship type is: <%= @ship2.type %></h2>
<h2>Other Ship booty is: <%= @ship2.booty %> </h2>
