<%
pirate = Pirate.new(params['pirate'])
ship1 = Ship.new(params['pirate']['ships'][0])
ship2= Ship.new(params['pirate']['ships'][1])



%>

<h1>Display your Pirate here</h1>
<h2><%=pirate.name%></h2><br/>
<h2><%=pirate.weight%></h2><br/>
<h2><%=pirate.height%></h2><br/>


<h2>Display your first ship here</h2>
<h2><%=ship1.name%></h2><br/>
<h2><%=ship1.type%></h2><br/>
<h2><%=ship1.booty%></h2><br/>


<h2>Display your second ship here</h2>
<h2><%=ship2.name%></h2><br/>
<h2><%=ship2.type%></h2><br/>
<h2><%=ship2.booty%></h2><br/>
